@import url("https://use.typekit.net/vje7yoc.css");

:root {
  --color-low: #21A84A;
  --color-intermediate: #F57D1F;
  --color-high: #ED1F24;
}

html {
  font-family: 'Proxima Nova', sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 3rem;
  text-align: center;
}

#canvas {
  width: 100%;
  max-width: 650px;
  visibility: hidden;
}

[data-show-info],
[data-show-risk] {
  opacity: 0;

  &[data-active] {
    opacity: 1;
  }
}

/* TRANSITIONS
=========================================== */

#guys .guy,
#stateful-messages text,
#stateful-result g,
#stateful-result text {
  transition: opacity 300ms ease-in-out;
}

#main-elements #outer,
#info-titles .node {
  transition: fill 300ms ease-in-out;
}

#branches .branch,
#branches .halo {
  transition: stroke 300ms ease-in-out;
}

/* ELEMENTS
=========================================== */

#main-elements #inner {
  fill: #e7e7e9;
  stroke: #8f9194;
  stroke-width: 3px;
}

#main-elements #outer {
  fill: none;
  stroke-width: 4px;
  stroke: #8f9194;
}

/* ARROW
=========================================== */

#arrow circle {
  visibility: hidden;
}

#arrow polygon {
  fill: #8f9194;
  transition: fill 300ms ease-in-out;
  cursor: pointer;
}

/* RISK OPTIONS
=========================================== */

#risk-options .risk {
  cursor: pointer;
}

#risk-options .risk .bg {
  fill: #e7e7e9;
  transition: fill 300ms ease-in-out;
}

#risk-options .risk .text {
  font-size: 20px;
  font-weight: 700;
  fill: #5C5C5E;
  user-select: none;
  transition: fill 300ms ease-in-out;
}

/* GUYS
=========================================== */

#guys .guy {
  fill: #d7d7d7;
}

/* INFO TITLES
=========================================== */

#info-titles text {
  cursor: pointer;
  font-size: 36px;
  fill: #8f9194;
  font-weight: 700;

}

#info-titles text {
  font-size: 36px;
  font-weight: 700;
}

#info-titles .node.nt-pro.bottom {
  font-size: 21px;
}

/* BRANCHES
=========================================== */

#branches .branch {
  stroke: #8f9194;
  fill: none;
  stroke-width: 1px;
  transition: stroke 300ms ease-in-out;
}

#branches .halo {
  fill: none;
  stroke: transparent;
  stroke-width: 1px;
}

#branches .dot {
  fill: #8f9194;
  transition: fill 300ms ease-in-out;
}

/* INFO STATEFUL MESSAGES
=========================================== */
#stateful-messages {
  font-size: 26px;
}


/* INFO STATEFUL RESULT
=========================================== */

#stateful-result text {
  font-size: 32px;
  font-weight: 700;
}

#stateful-result .low {
  fill: var(--color-low);
}

#stateful-result .intermediate {
  fill: var(--color-intermediate);
}

#stateful-result .intermediate .functional {
  font-size: 24px;
}

#stateful-result .high {
  fill: var(--color-high);
}

/* STATIC TEXT
=========================================== */

#results-range {
  font-size: 26px;
  font-weight: 700;
}

#key {
  font-size: 26px;
}

/* RISK STATES
=========================================== */

[data-risk~="low"] {
  --bg: var(--color-low);
  --color: #fff;
  #main-elements #outer {
    stroke: var(--bg);
  }

  #arrow polygon {
    fill: var(--bg);
  }

  #risk-options .risk.low .bg {
    fill: var(--bg);
  }

  #risk-options .risk.low .text {
    fill: var(--color);
  }
}

[data-risk~="intermediate"] {
  --bg: var(--color-intermediate);
  --color: #fff;
  #main-elements #outer {
    stroke: var(--bg);
  }

  #arrow polygon {
    fill: var(--bg);
  }

  #risk-options .risk.intermediate .bg {
    fill: var(--bg);
  }

  #risk-options .risk.intermediate .text {
    fill: var(--color);
  }
}

[data-risk~="high"] {
  --bg: var(--color-high);
  --color: #fff;
  #main-elements #outer {
    stroke: var(--bg);
  }

  #arrow polygon {
    fill: var(--bg);
  }

  #risk-options .risk.high .bg {
    fill: var(--bg);
  }

  #risk-options .risk.high .text {
    fill: var(--color);
  }
}

/* INFO STATES
=========================================== */

[data-info~="echo"] {
  #info-titles .echo {
    fill: var(--bg);
  }

  #branches .echo .dot {
    fill: var(--bg);
  }
  
  #branches .echo .branch,
  #branches .echo .halo {
    stroke: var(--bg);
    transform: scale(1);
  }
}

[data-info~="functional"] {
  #info-titles .functional {
    fill: var(--bg);
  }

  #branches .functional .dot {
    fill: var(--bg);
  }
  
  #branches .functional .branch,
  #branches .functional .halo {
    stroke: var(--bg);
  }
}

[data-info~="six-minute"] {
  #info-titles .six-minute {
    fill: var(--bg);
  }

  #branches .six-minute .dot {
    fill: var(--bg);
  }
  
  #branches .six-minute .branch,
  #branches .six-minute .halo {
    stroke: var(--bg);
  }
}

[data-info~="cardio"] {
  #info-titles .cardio {
    fill: var(--bg);
  }

  #branches .cardio .dot {
    fill: var(--bg);
  }
  
  #branches .cardio .branch,
  #branches .cardio .halo {
    stroke: var(--bg);
  }
}

[data-info~="haemo"] {
  #info-titles .haemo {
    fill: var(--bg);
  }

  #branches .haemo .dot {
    fill: var(--bg);
  }
  
  #branches .haemo .branch,
  #branches .haemo .halo {
    stroke: var(--bg);
  }
}

[data-info~="nt-pro"] {
  #info-titles .nt-pro {
    fill: var(--bg);
  }

  #branches .nt-pro .dot {
    fill: var(--bg);
  }
  
  #branches .nt-pro .branch,
  #branches .nt-pro .halo {
    stroke: var(--bg);
  }
}
